src/main/resources/rafp.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<!-- -******************************************************************************************************************************************************************************* -->
			<xs:appinfo>
				<sch:pattern name="Проверка имени файла на соответствие значению атрибута @ИдФайл">
					<sch:rule context="Файл">
						<!--   Проверка имени файла на соответствие ИдФайл                                                                              -->
						<sch:assert test="usch:getFileName() = @ИдФайл">
							<usch:error code="0400400007" path="@ИдФайл" value-of-select="@ИдФайл" doc-id-path="usch:getFileName()" doc-id-caption="Файл">
							Имя файла обмена "
							<usch:value-of select="usch:getFileName()"/>
							" не совпадает со значением элемента ИдФайл "
							<usch:value-of select="@ИдФайл"/>
							"
							</usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!-- -******************************************************************************************************************************************************************************* -->
			<xs:documentation>Файл обмена</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ИдОтпр" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения об отправителе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИООтв" type="ФИОТип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество ответственного лица</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ДолжОтв" use="optional">
							<xs:annotation>
								<xs:documentation>Должность ответственного лица</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Тлф" use="optional">
							<xs:annotation>
								<xs:documentation>Номер контактного телефона</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="E-mail" use="optional">
							<xs:annotation>
								<xs:documentation>E-mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="45"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Документ" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвРАФП">
								<xs:annotation>
									<xs:documentation>Общедоступные сведения из государственного реестра аккредитованных филиалов, представительств иностранных юридических лиц</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СвИЮЛАкт">
											<xs:annotation>
												<xs:documentation>Сведения об иностранном юридическом лице</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НаимИЮЛ">
														<xs:annotation>
															<xs:documentation>Наименование иностранного юридического лица</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НаимИЮЛПолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование иностранного юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимИЮЛЛат" use="optional">
																<xs:annotation>
																	<xs:documentation>Полное наименование иностранного юридического лица (в латинской транскрипции)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимИЮЛСокр" use="optional">
																<xs:annotation>
																	<xs:documentation>Сокращенное наименование иностранного юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="АдрИЮЛИнк">
														<xs:annotation>
															<xs:documentation>Адрес в стране регистрации (инкорпорации)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="СтрРег" type="ОКСМТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код страны регистрации (инкорпорации)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимСтр" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование страны регистрации (инкорпорации)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="АдрИЮЛРег" use="required">
																<xs:annotation>
																	<xs:documentation>Адрес в стране регистрации (инкорпорации)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="РегИЮЛИнк">
														<xs:annotation>
															<xs:documentation>Сведения о регистрации в стране регистрации (инкорпорации)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НаимРегОрг" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование регистрирующего органа</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="РегНомер" use="required">
																<xs:annotation>
																	<xs:documentation>Регистрационный номер</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="70"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ОсобРежРег" use="optional">
																<xs:annotation>
																	<xs:documentation>Особенности режима регистрации</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="КодИЮЛИнк" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о коде налогоплательщика в стране регистрации (инкорпорации)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодНП" use="required">
																<xs:annotation>
																	<xs:documentation>Код налогоплательщика или его аналог</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="УставИЮЛ">
														<xs:annotation>
															<xs:documentation>Сведения об уставном капитале</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="УстКап" use="required">
																<xs:annotation>
																	<xs:documentation>Размер уставного капитала</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="20"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="КодВалют" type="ОКВТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код валюты</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="СвАФПАкт">
											<xs:annotation>
												<xs:documentation>Сведения о филиале, представительстве иностранного юридического лица на территории Российской Федерации</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="НаимАФП">
														<xs:annotation>
															<xs:documentation>Наименование филиала, представительства иностранного юридического лица</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НаимАФППолн" use="required">
																<xs:annotation>
																	<xs:documentation>Полное наименование филиала, представительства иностранного юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="НаимАФПСокр" use="optional">
																<xs:annotation>
																	<xs:documentation>Сокращенное наименование филиала, представительства иностранного юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="АдрАФПРФ">
														<xs:annotation>
															<xs:documentation>Адрес (место нахождение) на территории Российской Федерации)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:choice>
																<xs:element name="АдрФИАС" type="АдрФИАСТип">
																	<xs:annotation>
																		<xs:documentation>Адрес по ФИАС</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="АдрКЛАДР" type="АдрКЛАДРТип">
																	<xs:annotation>
																		<xs:documentation>Адрес по КЛАДР</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:choice>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвАк">
														<xs:annotation>
															<xs:documentation>Сведения об аккредитации филиала, представительства</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="НЗА" use="required">
																<xs:annotation>
																	<xs:documentation>Номер записи об аккредитации (НЗА)</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:length value="11"/>
																		<xs:pattern value="[0-9]{11}"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаАк" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата аккредитации (внесения сведений об аккредитации в РАФП)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КодНОАк" type="СОНОТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код налогового органа, уполномоченного на аккредитацию филиалов, представительств иностранных юридических лиц</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимНО" use="required">
																<xs:annotation>
																	<xs:documentation>Налоговый орган, уполномоченный на аккредитацию филиалов, представительств иностранных юридических лиц</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="АдрНО" use="required">
																<xs:annotation>
																	<xs:documentation>Адрес налогового органа, уполномоченного на аккредитацию филиалов, представительств иностранных юридических лиц</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="1000"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвСостАк" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о состоянии аккредитации филиала, представительства иностранного юридического лица</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="СостАк" use="required">
																<xs:annotation>
																	<xs:documentation>Состояние аккредитации</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвПрекрАк" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о прекращении аккредитации филиала, представительства</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ДатаПрекрАк" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата прекращения действия аккредитации (внесения сведений о прекращении действия аккредитации в РАФП)</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвУчетНО" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ИННЮЛ" type="ИННЮЛТип" use="required">
																<xs:annotation>
																	<xs:documentation>ИНН</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КПП" type="КППТип" use="required">
																<xs:annotation>
																	<xs:documentation>КПП</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаПостУч" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата постановки на учет</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="КодНОУч" type="СОНОТип" use="required">
																<xs:annotation>
																	<xs:documentation>Код налогового органа, осуществившего постановку на учет</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="НаимНОУч" use="required">
																<xs:annotation>
																	<xs:documentation>Наименование налогового органа, осуществившего постановку на учет</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="255"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвРукАФПАкт">
														<xs:annotation>
															<xs:documentation>Сведения о руководителе филиала, представительства иностранного юридического лица в Российской Федерации</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ФИОРук" type="ФИОТип">
																	<xs:annotation>
																		<xs:documentation>Фамилия, имя, отчество руководителя</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="ИННФЛ" type="ИННФЛТип" use="optional">
																<xs:annotation>
																	<xs:documentation>ИНН руководителя</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СвИнРабАкт" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о численности иностранных граждан, являющихся работниками филиала/представительства иностранного юридического лица</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ЧислИнГр" use="required">
																<xs:annotation>
																	<xs:documentation>Численность иностранных граждан, являющихся работниками филиала, представительства иностранного юридического лица</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:integer">
																		<xs:totalDigits value="9"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																<xs:annotation>
																	<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:choice>
														<xs:element name="СвРазрОткр" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о разрешении об открытии представительства иностранного юридического лица, выданном до 01.01.2015</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="ДатаРазрОткр" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата разрешения об открытии представительства</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="СрокРазрОткр" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Срок действия разрешения об открытии представительства</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="НаимОргСвед" use="required">
																	<xs:annotation>
																		<xs:documentation>Наименование органа, представившего сведения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="СвРешАк" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о принятом решении об аккредитации филиала, представительства иностранного юридического лица</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="ДатаРешАк" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата решения об аккредитации филиала, представительства</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="СрокРешАк" type="ДатаТип" use="optional">
																	<xs:annotation>
																		<xs:documentation>Срок действия аккредитации филиала, представительства, согласно принятому решению (срок действия документа об аккредитации филиала, представительства)</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="НаимОргСвед" use="required">
																	<xs:annotation>
																		<xs:documentation>Наименование органа, представившего сведения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="СвПродСрок" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о принятом решении о продлении срока действия аккредитации представительства иностранного юридического лица</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="ДатаРешПрод" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата решения о продлении срока действия аккредитации представительства</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="СрокПродАк" type="ДатаТип" use="optional">
																	<xs:annotation>
																		<xs:documentation>Срок действия аккредитации представительства, согласно принятому решению (срок действия документа о продлении аккредитации представительства)</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="НаимОргСвед" use="required">
																	<xs:annotation>
																		<xs:documentation>Наименование органа, представившего сведения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
														<xs:element name="СвРешПрекр" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о принятом решении о прекращении действия аккредитации филиала, представительства иностранного юридического лица</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute name="ДатаРешПрекр" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата решения о прекращении действия аккредитации филиала, представительства</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
																<xs:attribute name="НаимОргСвед" use="required">
																	<xs:annotation>
																		<xs:documentation>Наименование органа, представившего сведения</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="255"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
																<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
																	<xs:annotation>
																		<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
																	</xs:annotation>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:choice>
													<xs:element name="СвВЭДАкт" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о видах экономической деятельности филиала, представительства в Российской Федерации по Общероссийскому классификатору видов экономической деятельности (ОКВЭД ОК 029-2014 КДЕС. Ред. 2)</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="СвОКВЭДОсн" type="СвОКВЭДТип" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Сведения об основном виде экономической деятельности</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="СвОКВЭДДоп" type="СвОКВЭДТип" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Сведения об иных видах экономической деятельности</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ПризАк" use="required">
													<xs:annotation>
														<xs:documentation>Признак филиала, представительства иностранного юридического лица</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
								<xs:documentation>Рекомендуется использовать глобально уникальный идентификатор (GUID)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаДок" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата формирования документа</xs:documentation>
								<xs:documentation> Дата в формате ДД.ММ.ГГГГ</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:documentation>Содержит (повторяет) имя сформированного файла (без расширения)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="150"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="4.04"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="50"/>
						<xs:enumeration value="ОДРАФП"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия программы, с помощью которой сформирован файл</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="9"/>
						<xs:minInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="СвОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Сведения о видах экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:attribute name="КодОКВЭД" type="ОКВЭДТип" use="required">
			<xs:annotation>
				<xs:documentation>Код вида экономической деятельности</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимОКВЭД" use="required">
			<xs:annotation>
				<xs:documentation>Наименование вида экономической деятельности</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ДатаВнесРАФП" type="ДатаТип" use="required">
			<xs:annotation>
				<xs:documentation>Дата внесения в РАФП записи, содержащей указанные сведения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрКЛАДРТип">
		<xs:annotation>
			<xs:documentation>Адрес по КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
					<xs:pattern value="[0-9]{6}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КодРегион" use="required">
			<xs:annotation>
				<xs:documentation>Код региона</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="CCРФТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Район" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Город" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
					<xs:minLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаселПункт" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Улица" use="optional">
			<xs:annotation>
				<xs:documentation>Улица</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Дом" use="optional">
			<xs:annotation>
				<xs:documentation>Дом (владение)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Корпус" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус (строение)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Кварт" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира (офис)</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="АдрФИАСТип">
		<xs:annotation>
			<xs:documentation>Адрес по ФИАС</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Регион" type="CCРФТип">
				<xs:annotation>
					<xs:documentation>Субъект Российской Федерации (код)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="МуниципРайон" type="ВидНаимКодТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальный район/ городской округ/ внутригородская территория города федерального значения/муниципальный округ </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ГородСелПоселен" type="ВидНаимКодТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городское поселение / сельское поселение / межселенная территория в составе муниципального района / внутригородской район городского округа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="НаселенПункт" type="ВидНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населенный пункт (город, деревня, село и прочее)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлПланСтруктур" type="ТипНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент планировочной структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ЭлУлДорСети" type="ТипНаимТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент улично-дорожной сети</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Здание" type="НомерТип" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Здание / сооружение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещЗдания" type="НомерТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах здания, сооружения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ПомещКвартиры" type="НомерТип" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Помещение в пределах квартиры</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ИдНом" use="optional">
			<xs:annotation>
				<xs:documentation>Уникальный идентификационный номер</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Индекс" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимКодТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде (код) и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ВидКод" use="required">
			<xs:annotation>
				<xs:documentation>Вид (код) элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ВидНаимТип">
		<xs:annotation>
			<xs:documentation>Сведения о виде и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Вид" use="required">
			<xs:annotation>
				<xs:documentation>Вид элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ТипНаимТип">
		<xs:annotation>
			<xs:documentation>Сведения о типе и наименовании адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Наим" use="required">
			<xs:annotation>
				<xs:documentation>Наименование элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НомерТип">
		<xs:annotation>
			<xs:documentation>Сведения о номере адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Тип" use="required">
			<xs:annotation>
				<xs:documentation>Тип элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Номер" use="required">
			<xs:annotation>
				<xs:documentation>Номер элемента</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="255"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ФИОТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Фамилия" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Имя" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Отчество" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННЮЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СОНОТип">
		<xs:annotation>
			<xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВЭДТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора видов экономической деятельности</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
			<xs:minLength value="2"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКВТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора валют</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОКСМТип">
		<xs:annotation>
			<xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CCРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1900 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(19[0-9]{2}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>